/* Réinitialisation et box-sizing */
* {
    box-sizing: border-box;
}

/* Style global du body */
body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Style du conteneur du formulaire */
.form-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}

/* Style du titre */
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles du formulaire */
.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: 600;
}

/* Styles des champs input */
.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="email"],
.form-container input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container input:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 5px rgba(44, 62, 80, 0.5);
}

/* Style du bouton de soumission */
.submit-btn {
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    font-weight: bold;
    text-decoration: none;
}
/* La partie dark mode selon la taille de l'écran */
/* Media par défault */
/* LIGHT */
@media (prefers-color-scheme: light) {
    body {
        background: url("../assets/light-4k.webp") no-repeat center center fixed;
        color: #141f23;
    }
    .form-container {
        background: rgba(255, 255, 255, 0.8)
    }
    .form-container h2 {
        color: #8dc7cc;
    }
    .form-container label {
        color: #141f23;
    }
    .form-container input[type="text"],
    .form-container input[type="tel"],
    .form-container input[type="email"],
    .form-container input[type="date"] {
        border: 2px solid #f5b79e;
    }
    .submit-btn {
        background: rgb(203, 135, 88);
        color: #000;
        font-weight: bold;
    }
    .submit-btn:hover {
        background: rgb(244,165,108);
    }
}

/* DARK */
@media (prefers-color-scheme: dark) {
    body {
        background: url("../assets/dark-4k.webp") no-repeat center center fixed;
        color: #ddd;
    }
    .form-container {
        background: rgba(47, 47, 47, 0.8)
    }
    .form-container h2 {
        color: #f4a757;
    }
    .form-container label {
        color: #ddd;
    }
    .form-container input[type="text"],
    .form-container input[type="tel"],
    .form-container input[type="email"],
    .form-container input[type="date"] {
        border: 2px solid #f08326;
    }
    .submit-btn {
        background: rgb(21, 31, 33);
        color: #ddd;
    }
    .submit-btn:hover {
        background: rgb(21, 31, 33, 0.8);
    }
}