body {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* La partie dark mode selon la taille de l'écran */
/* Media par défault */
/* LIGHT */
@media (prefers-color-scheme: light) {
    body {
        background: url("../assets/light-4k.jpeg") no-repeat center center fixed;
        color: #141f23;
    }
    .container {
        background: rgba(255, 255, 255, 0.8)
    }
    h1 {
        color: #8dc7cc;
    }
    label {
        color: #141f23;
    }
    input {
        border: 2px solid #f5b79e;
    }
    .btn {
        background: rgb(203, 135, 88);
        color: #000;
        font-weight: bold;
    }
    .btn:hover {
        background: rgb(244,165,108);
    }
}

/* DARK */
@media (prefers-color-scheme: dark) {
    body {
        background: url("../assets/dark-4k.jpeg") no-repeat center center fixed;
        color: #ddd;
    }
    .container {
        background: rgba(47, 47, 47, 0.8)
    }
    h1 {
        color: #f4a757;
    }
    label {
        color: #ddd;
    }
    input {
        border: 2px solid #f08326;
    }
    .btn {
        background: rgb(21, 31, 33);
        color: #ddd;
    }
    .btn:hover {
        background: rgb(21, 31, 33, 0.8);
    }
}