body {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h2 {
    text-align: center;
}
/* La partie dark mode selon la taille de l'écran */
/* Media par défault */
/* LIGHT */
@media (prefers-color-scheme: light) {
    body {
        background: url("../assets/light-4k.webp") no-repeat center center fixed;
    }
    .container {
        background: rgba(255, 255, 255, 0.8)
    }
    h2 {
        color: #8dc7cc;
    }
}

/* DARK */
@media (prefers-color-scheme: dark) {
    body {
        background: url("../assets/dark-4k.webp") no-repeat center center fixed;
    }
    .container {
        background: rgba(47, 47, 47, 0.8)
    }
    h2 {
        color: #f4a757;
    }
}